aiofiles
aiogram
aiohttp
aiohappyeyeballs
aiosignal
annotated-types
apscheduler
attrs
certifi
Flask
frozenlist
idna
lxml
magic-filter
multidict
propcache
pydantic
pydantic_core
requests
typing-extensions
yarl
