aiogram==3.20.0.post0
Flask==3.0.3
requests==2.31.0
beautifulsoup4==4.12.3 # Додайте для парсингу RSS
lxml==4.9.3 # Рекомендовано для швидшого парсингу з BeautifulSoup
APScheduler==3.10.4 # Додайте для планувальника
aiofiles==24.1.0
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
attrs
certifi==2025.4.26
frozenlist==1.6.0
idna==3.6
magic-filter==1.0.12
multidict==6.4.3
propcache==0.3.1
pydantic==2.11.4
pydantic_core==2.33.2
typing-extensions==4.13.2
yarl==1.20.0
